body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(132, 199, 178);
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #0c0b0b; /* Texto en blanco para mayor contraste */
}
#seleccionIdioma {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 300px; /* Espacio superior */
    margin-left: 10px; /* Espacio izquierdo */
    margin-right: 800px; /* Espacio derecho */
}

#idiomaSelect {
    margin-bottom: 10px; /* Espacio entre el selector y el botón siguiente */
}

#siguienteBtn {
    background-color: rgb(50, 133, 105);
    color: #fff; /* Color del texto del botón siguiente */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(50, 133, 105);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#encabezado {
    width: 900px; 
    height: auto;
    max-width: 1500vw;
    max-height: 150px;
    margin: 0 auto; 
    display: block;
    

}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Alinear el texto en el centro */
    padding: 200px; /* Añadir un espacio entre la imagen y el contenido */
    margin-top: 400px;
}


label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(50, 133, 105); /* Verde */
    color: white;
    cursor: pointer;

}

h2 {
    color: #080808; /* Texto en blanco para mayor contraste */
}



#formularioRegistro {
    display: none; 
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(50, 133, 105);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}